@charset "UTF-8";
/****************************************************************

 INDEX
* 0. Tipografia externa
* 1. Base
* 2. Layout
    2.1 Contenedores genéricos
    2.2 Cabecera - #main-header
    2.3 Navegación principal - #main-navigation
    2.4 Contenido principal - #main-content
    2.5 Pie - #main-footer
* 3. Estilos de terceros
* 4. Estilos elementos comunes web
    4.1 Generales
    4.1 Cabecera
    4.2 Menu navegación principal
    4.4 Contenido
    4.4 Pie
* 5. Estilos por pagina
    5.1. Pagina inicio - index.html
    5.2. Com comprar - comcomprar.html
    5.3. Llista de productes o página categoria - categoria.html
    5.4. Pagina producte - producte.html


*****************************************************************/
/****************************************************************
*
* 0. Tipografia externa
*
*****************************************************************/
@import url("https://fonts.googleapis.com/css?family=Bitter");
/****************************************************************
*
* 1. Base
*     estilo etiquetas generales por defecto
*
*****************************************************************/
/*
***************************************************************
  1.1 Reset
***************************************************************
*/
/* Regla necesaria para que el sistema de regillas funciona
   con esta regla la declaració with*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*
***************************************************************
  1.2 Generales
      estilo etiquetas generales por defecto
***************************************************************
*/
html {
  font-size: 16px; }

body {
  font-family: "Bitter", Helvetica, Arial, serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #403339;
  background-color: #F5F4F4; }

a {
  text-decoration: none;
  color: #FF6B5A; }
  a:hover {
    color: #1a066d; }
  a:visited {
    text-decoration: underline; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  padding: 0px;
  border: 0;
  size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", Helvetica, Arial, serif;
  font-weight: bold;
  color: #5a0900; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem;
  font-weight: normal; }

address {
  margin: 0 0 1rem 0; }

blockquote {
  border-left: 3px solid #ccc;
  padding: 1rem 2rem;
  margin: 0 0 1rem 0; }

/*
***************************************************************
  1.4 Listas
      estilo etiquetas generales por defecto
****************************************************************
*/
dl, dt, dd, ol, ul, li {
  margin: 10px 0px;
  padding: 0; }

dl {
  margin: 0 0 1rem 0; }
  dl dt {
    font-weight: bold; }
  dl dd {
    margin: 10px 0px 20px; }

ul, ol {
  list-style-position: inside; }
  ul li li, ol li li {
    margin-left: 20px; }

/*
***************************************************************
  1.3 Formularios
      estilo etiquetas generales por defecto
****************************************************************
*/
fieldset {
  border: none;
  background-color: #ddd9d9;
  border-top: 1px solid #403339;
  border-bottom: 1px solid #403339;
  margin: 20px 0px;
  padding: 10px 10px;
  position: relative; }

fieldset legend {
  text-transform: uppercase;
  float: left;
  width: 100%;
  color: #5a0900;
  margin-bottom: 10px; }

label abbr {
  color: rgba(255, 0, 0, 0.6); }

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="reset"],
textarea,
keygen,
datalist,
output {
  border: 1px solid #999999;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  padding: 5px 12px;
  font-size: 0.9rem; }

select {
  padding: 4px 10px; }

/*
	botones
*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  border-radius: 6px;
  -webkit-box-shadow: 1px, 1px, 3px, red;
  -moz-box-shadow: 1px, 1px, 3px, red;
  box-shadow: 1px, 1px, 3px, red;
  color: #403339;
  background-color: #68AFC1;
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 1px solid #68AFC1; }
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover {
    color: #5a0900;
    background-color: #FF6B5A;
    border: 1px solid #FF6B5A;
    cursor: pointer; }

/*
foco en elemento formulario
*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus,
keygen:focus,
datalist:focus,
output:focus {
  border-color: #FF6B5A;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px #FF6B5A;
  outline: 0 none;
  background-color: #fff; }

.form-group {
  margin: 10px 0px; }

/*
	Missatges de validació
*/
label.error {
  display: block;
  color: rgba(255, 0, 0, 0.6);
  font-style: italic;
  font-size: 0.8em;
  margin-left: 25%;
  padding-left: 5px; }

.form-group label.error {
  width: 65%; }

input.error,
select.error,
textarea.error {
  box-shadow: 0 1px 1px rgba(250, 0, 0, 0.075) inset, 0 0 5px rgba(255, 0, 0, 0.6); }

/*
	Camps amb dades correctes
*/
input.valid,
select.valid,
textarea.valid {
  box-shadow: 0 1px 1px rgba(250, 0, 0, 0.075) inset, 0 0 5px rgba(0, 255, 0, 0.6); }

/*
***************************************************************
  1.4 Tablas
      estilo etiquetas generales por defecto
****************************************************************
*/
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: #F5F4F4; }
  table caption {
    font-weight: bold; }
  table th, table td {
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: left; }

.table-bordered {
  border: 1px solid #ccc; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ccc; }
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ddd9d9; }

/*
***************************************************************
  1.4 Code
      estilo etiquetas generales por defecto
****************************************************************
*/
kbd, code, samp, .code {
  font-family: monospace;
  color: red; }

kbd {
  background-color: #ccc;
  display: inline-block;
  padding: 0px 5px;
  border-radius: 4px; }

code {
  color: red; }

pre {
  margin: 0 0 1rem 0; }

/****************************************************************
*
* 2. Layout
*    Maquetación bloques
*    sólo se definen posicionamiento, espaciado y color de fondo
*
*****************************************************************/
/*
***************************************************************
  2.1 Contenedores genéricos
***************************************************************
*/
/* definen el ancho maximo y el centrado */
.content-container,
.container {
  width: 95%;
  max-width: 1140px;
  margin: auto;
  clear: both; }
  .content-container:after,
  .container:after {
    content: "";
    display: block;
    clear: both; }

.content-container {
  margin-top: 40px; }

/*
***************************************************************
  2.2 Cabecera
***************************************************************
*/
#main-header {
  background-color: #333333;
  padding-top: 20px; }
  #main-header #main-logo-container {
    width: 100%;
    padding: 10px 15px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #main-header #main-logo-container {
        width: 50%;
        float: left; } }
  #main-header #follow-menu {
    width: 100%;
    padding: 10px 15px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #main-header #follow-menu {
        width: 50%;
        float: left; } }
    #main-header #follow-menu .list-heading {
      display: block; }
  #main-header #featured-menu {
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 10px;
    clear: both; }
    @media only screen and (min-width: 768px) {
      #main-header #featured-menu {
        width: 50%;
        float: left; } }
  #main-header #search-form {
    width: 100%;
    padding: 10px 15px;
    padding-bottom: 30px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #main-header #search-form {
        width: 50%;
        float: left; } }
  @media only screen and (min-width: 768px) {
    #main-header #main-logo-container {
      text-align: left; }
    #main-header #featured-menu {
      text-align: left; }
    #main-header #search-form, #main-header #follow-menu {
      text-align: right; }
    #main-header #follow-menu .list-heading {
      display: inline-block; }
    #main-header #follow-menu ul {
      margin-right: -8px; } }

/*
***************************************************************
  2.2 Navegación principal
***************************************************************
*/
#main-navigation {
  background-color: #FF6B5A; }

/* contenido principal */
#main-content {
  /* layout home */
  /* layout pagina com comprar */
  /* layout pagina categoria */
  /* layout pagina producte */ }
  #main-content .featured-category {
    width: 100%;
    padding: 10px 15px; }
    @media only screen and (min-width: 768px) {
      #main-content .featured-category {
        width: 33.33333%;
        float: left; } }
  #main-content .howBuy {
    width: 100%;
    padding: 10px 15px; }
    @media only screen and (min-width: 768px) {
      #main-content .howBuy {
        width: 66.66667%;
        float: left; } }
    @media only screen and (min-width: 768px) {
      #main-content .howBuy {
        margin-left: 16.66667%; } }
  #main-content #product-nav-container {
    width: 100%;
    padding: 10px 15px; }
    @media only screen and (min-width: 768px) {
      #main-content #product-nav-container {
        width: 25%;
        float: left; } }
  #main-content #products-container {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      #main-content #products-container {
        width: 75%;
        float: left; } }
  #main-content article.product-thumb {
    width: 100%;
    padding: 10px 15px; }
    @media only screen and (min-width: 544px) {
      #main-content article.product-thumb {
        width: 50%;
        float: left; } }
    @media only screen and (min-width: 768px) {
      #main-content article.product-thumb {
        width: 33.33333%;
        float: left; } }
  #main-content #product-image {
    width: 100%;
    padding: 10px 15px; }
    @media only screen and (min-width: 768px) {
      #main-content #product-image {
        width: 33.33333%;
        float: left; } }
  #main-content #product-container {
    width: 100%;
    padding: 10px 15px; }
    @media only screen and (min-width: 768px) {
      #main-content #product-container {
        width: 50%;
        float: left; } }
  #main-content #price-cart {
    width: 100%;
    padding: 10px 15px; }
    @media only screen and (min-width: 768px) {
      #main-content #price-cart {
        width: 16.66667%;
        float: left; } }

/* pie */
#main-footer {
  background-color: #FF6B5A;
  color: #F5F4F4;
  margin-top: 60px;
  padding-top: 40px; }
  #main-footer #help-menu, #main-footer #about-us-menu {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 768px) {
      #main-footer #help-menu, #main-footer #about-us-menu {
        width: 41.66667%;
        float: left; } }
  @media only screen and (min-width: 768px) {
    #main-footer #help-menu {
      margin-left: 8.33333%; } }
  #main-footer #copyright {
    width: 100%;
    padding: 10px 15px;
    background-color: #5C4A52;
    color: #F5F4F4;
    margin-top: 40px;
    padding: 30px 0px; }

/*
***************************************************************
  2.2 Cabecera
***************************************************************
*/
.sidebar {
  width: 100%;
  padding: 10px 15px; }
  @media only screen and (min-width: 768px) {
    .sidebar {
      width: 25%;
      float: left; } }

.content {
  width: 100%;
  padding: 10px 15px; }
  @media only screen and (min-width: 768px) {
    .content {
      width: 75%;
      float: left; } }

/****************************************************************
*
* 3. Estilos de terceros
*
*    estilos externos importados
*
*****************************************************************/
/*
Iconos Fontello
http://fontello.com/
*/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?64662694");
  src: url("../fonts/fontello/fontello.eot?64662694#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?64662694") format("woff2"), url("../fonts/fontello/fontello.woff?64662694") format("woff"), url("../fonts/fontello/fontello.ttf?64662694") format("truetype"), url("../fonts/fontello/fontello.svg?64662694#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-facebook:before, .icon-instagram:before, .icon-twitter:before, .icon-pinterest:before, .icon-search:before, .icon-home:before, .icon-menu:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: '\e846'; }

.icon-instagram:before {
  content: '\e84a'; }

.icon-twitter:before {
  content: '\e84d'; }

.icon-pinterest:before {
  content: '\f0d3'; }

.icon-search:before {
  content: '\e802'; }

.icon-home:before {
  content: '\e800'; }

/* '' */
.icon-menu:before {
  content: '\e822'; }

/* '' */
/****************************************************************
*
* 4. Estilos elementos comunes web
*
*
*****************************************************************/
/*
***************************************************************
  4.1 Generales
***************************************************************
*/
.content-container p {
  text-align: justify; }

/* nessari per a que s'oculti o es mostri els menus collapsables */
.hide {
  display: none !important; }

.toggleMenu {
  cursor: pointer;
  display: block;
  text-align: center;
  border-bottom: 1px solid white; }
  @media only screen and (min-width: 768px) {
    .toggleMenu {
      display: none; } }

/*
***************************************************************
  4.1 Cabecera
***************************************************************
*/
/* menús cabecera */
#follow-menu {
  text-align: right;
  color: black; }
  #follow-menu .list-heading, #follow-menu ul, #follow-menu li {
    display: inline-block; }
  #follow-menu li {
    list-style: none; }
  #follow-menu a {
    display: inline-block; }
  #follow-menu .list-heading {
    padding: 0px 8px;
    font-style: italic; }
  #follow-menu a {
    color: #FF6B5A;
    font-size: 1.4rem; }
    #follow-menu a:hover {
      color: #F5F4F4; }

#featured-menu {
  text-align: left; }
  #featured-menu .list-heading, #featured-menu ul, #featured-menu li {
    display: inline-block; }
  #featured-menu li {
    list-style: none; }
  #featured-menu a {
    display: inline-block; }
  #featured-menu a {
    color: #FF6B5A;
    padding: 4px 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
    #featured-menu a:hover {
      background-color: #262626;
      color: #FF6B5A; }
    #featured-menu a.active {
      cursor: default;
      background-color: #4d4d4d; }

/* formulari cerca capçalera */
#search-form input[type="text"] {
  background-color: #b3b3b3;
  border: 1px solid #999999; }

/*
***************************************************************
  4.2 Menu navegación principal
***************************************************************
*/
/* menus navegacion principal */
#main-navbar {
  background-color: #FF6B5A; }
#main-navbar ul {
  display: block;
  /* necessari per eliminar espai entre anidats inline-blocks */
  font-size: 0px;
  text-align: center; }
  #main-navbar ul li {
    display: block;
    font-size: 16px; }
    #main-navbar ul li a {
      display: block;
      border-bottom: 1px solid white; }
    @media only screen and (min-width: 768px) {
      #main-navbar ul li {
        display: inline-block; }
        #main-navbar ul li a {
          border: none;
          border-right: 1px solid white; } }
    #main-navbar ul li:last-child a {
      border: none; }
#main-navbar a {
  padding: 10px;
  color: #F5F4F4;
  background-color: #FF6B5A; }
  #main-navbar a:hover {
    color: #5a0900;
    background-color: #68AFC1; }
  #main-navbar a.active {
    color: red;
    background-color: #ffc6c0;
    cursor: default; }

#breadcrumb {
  background-color: #FF6B5A;
  color: #c01400; }
  #breadcrumb em.currentPage, #breadcrumb a {
    margin: 0px 10px;
    color: #403339; }
  #breadcrumb a {
    color: #403339;
    text-decoration: underline;
    margin: 0px 10px; }
    #breadcrumb a:hover {
      color: #F5F4F4; }
  #breadcrumb p {
    margin: 0px;
    padding: 10px 15px;
    text-align: center; }

/*
***************************************************************
  4.3 Contenido
***************************************************************
*/
#page-header {
  background-size: 100%;
  padding: 60px 0px !important;
  margin-bottom: 30px; }
  #page-header .main-title {
    text-align: center;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8); }

/*
***************************************************************
  4.4 Pie
***************************************************************
*/
/* menus pie */
#help-menu, #about-us-menu {
  text-align: center; }
  #help-menu .list-heading, #about-us-menu .list-heading {
    display: block; }
  #help-menu ul a, #help-menu ul li, #about-us-menu ul a, #about-us-menu ul li {
    display: block; }
  #help-menu ul li, #about-us-menu ul li {
    list-style: none; }
  #help-menu h3, #about-us-menu h3 {
    font-size: 1rem;
    font-weight: normal;
    color: black;
    border-bottom: 1px solid black; }
  #help-menu a, #about-us-menu a {
    color: #F5F4F4; }
    #help-menu a:hover, #about-us-menu a:hover {
      color: black; }

/* copyright */
#copyright {
  font-size: 90%;
  text-align: center; }

/****************************************************************
*
* 5. Estilos por pagina
*
*
*****************************************************************/
/*
***************************************************************
  5.1. Pagina inicio - index.html
***************************************************************
*/
body#home #page-header {
  background-image: url("../img/xmas.jpg"); }

.featured-category {
  text-align: center; }

.category-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px; }

.category-link {
  margin: auto;
  display: inline-block;
  padding: 10px 20px;
  color: #403339;
  background-color: #68AFC1;
  font-size: 1rem;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  .category-link:hover {
    color: #5a0900;
    background-color: #FF6B5A; }

/*
***************************************************************
  5.2. Com comprar - comcomprar.html
***************************************************************
*/
body#comcomprar #page-header {
  background-image: url("../img/flower.jpg"); }

/*
***************************************************************
  5.3. Llista de productes o página categoria - categoria.html
***************************************************************
*/
body#categoria1 #page-header {
  background-image: url("../img/green_background.jpg"); }

#product-navbar {
  text-align: left; }
  #product-navbar .list-heading {
    display: block; }
  #product-navbar ul a, #product-navbar ul li {
    display: block; }
  #product-navbar ul li {
    list-style: none; }
  #product-navbar a {
    background-color: #FF6B5A;
    border-bottom: 1px solid white;
    padding: 10px 15px;
    color: #F5F4F4;
    background-color: #FF6B5A;
    text-align: center; }
    #product-navbar a:hover {
      color: #5a0900;
      background-color: #68AFC1; }
    #product-navbar a.active {
      color: red;
      background-color: #ffc6c0;
      cursor: default; }

.product-thumb {
  text-align: center; }
  .product-thumb .product-title {
    margin: 0px; }
  .product-thumb img {
    width: 100%;
    height: auto; }
  .product-thumb span.price {
    display: block;
    margin: -5px 0px 10px; }
    .product-thumb span.price abbr {
      text-decoration: none; }
    .product-thumb span.price .number-price {
      font-size: 1.6rem; }
  .product-thumb a.button {
    display: inline-block;
    padding: 3px 8px;
    color: #403339;
    background-color: #68AFC1;
    font-size: 0.8rem;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
    .product-thumb a.button:hover {
      color: #5a0900;
      background-color: #FF6B5A; }

#advance-search label {
  display: block;
  clear: both; }
#advance-search input[type="range"] {
  margin: 0px;
  float: left;
  width: 70%;
  margin-top: 3px; }
#advance-search input[type="text"] {
  margin-left: 5%;
  width: 25%;
  padding: 5px 2px 5px 5px;
  height: 25px; }
#advance-search input[type="submit"] {
  width: 100%;
  margin: 10px 0px 5px; }
#advance-search .send-group {
  text-align: center; }

/*
***************************************************************
  5.4. Pagina producte - producte.html
***************************************************************
*/
.category-title,
.product-title {
  background-color: #b5a3ab;
  padding-top: 5px;
  margin: 0px; }

#product-image img {
  width: 100%;
  height: auto; }

form#add2cart select, form#add2cart input[type="submit"] {
  width: 100%; }
form#add2cart fieldset {
  border-top: none;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center; }
  form#add2cart fieldset select option {
    text-align: center; }

.price, .product-state, .product-conditions {
  padding: 5px; }

.price {
  background-color: #e9e7e7;
  margin-bottom: 0px;
  text-align: center !important; }
  .price .number-price {
    font-size: 2rem; }

.product-state {
  background-color: #866c78;
  color: #F5F4F4;
  text-align: center !important; }

.product-conditions {
  background-color: #866c78;
  color: #F5F4F4;
  font-size: 0.7rem;
  font-style: italic;
  text-align: left !important; }

/*# sourceMappingURL=style.css.map */
