@charset "UTF-8";

/*
***************************************************************
  2.1 Contenedores genéricos
***************************************************************
*/

/* definen el ancho maximo y el centrado */

.content-container,
.container{
	@include container();
}

.content-container{
	margin-top: 40px;
}



/*
***************************************************************
  2.2 Cabecera
***************************************************************
*/

#main-header {
  background-color: $header-bg-color;
	padding-top: 20px;

	#main-logo-container{
		@include col($m:6);
		text-align: center;
	}

	#follow-menu{
		@include col($m:6);
		text-align: center;
		.list-heading{
			display: block;
		}
	}

	#featured-menu{
		@include col($m:6);
		text-align: center;
		margin-bottom: 10px;
		clear: both;
	}

	#search-form{
		@include col($m:6);
	  padding-bottom: 30px;
		text-align: center;
	}

	@media only screen and (min-width: $screen-m) {

		#main-logo-container{
			text-align: left;
		}

		#featured-menu{
			text-align: left;
		}

		#search-form, #follow-menu{
			text-align: right;
		}

		#follow-menu{

			.list-heading{
				display: inline-block;;
			}

			ul{
				margin-right: -8px;
			}
		}
	}

}

/*
***************************************************************
  2.2 Navegación principal
***************************************************************
*/

#main-navigation{
	background-color: $navbar-bg;
}


/* contenido principal */

#main-content {

	/* layout home */
	.featured-category{
		@include col($m:4);
	}

	/* layout pagina com comprar */
	.howBuy{
		@include col($m:8);
		@include offset($m:2);
	}

	/* layout pagina categoria */
	#product-nav-container{
		@include col($m:3);
	}

	#products-container{
		@include col($m:9, $padding:false);
	}

	article.product-thumb{
		@include col($s:6 ,$m:4);
	}

	/* layout pagina producte */

	#product-image{
		@include col($m:4);
	}

	#product-container{
		@include col($m:6);
	}

	#price-cart{
		@include col($m:2);
	}

}


/* pie */

#main-footer {
  background-color: $footer-bg-color;
	color: $footer-font-color;
	margin-top: 60px;
	padding-top: 40px;

	#help-menu, #about-us-menu{
		@include col($m:5);
	  margin-bottom: 15px;
	}

	#help-menu{
		@include offset($m:1);
	}

	#copyright{
		@include col();
		background-color: $copyright-bg-color;
		color: $copyright-font-color;
		margin-top: 40px;
		padding: 30px 0px;
	}
}
