@charset "UTF-8";

// display headings

.display-1{

}

.display-2{

}

.display-3{

}

.display-4{

}


// colors

/*

.text-muted{}
.text-primary{}
.text-success{}
.text-info{}
.text-warning{}
.text-danger{}
.text-white{}

*/


// responsives helpers

.img-resp{
	width: 100%;
	height: auto;  
}


// text helpers

.small{
	@extend small;
}

.mark{
	@extend mark;
}


// buttons

.button{
	@include button;
}

.button-sm{
	@include button;
}

.button-lg{
	@include button;
}


.button-outline{
	@include button;	
}



// code block

.code{
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px; 
}

